<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34674727690-b1d7pusgmb9f5jec6b0fcf7o9lo7bms5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34674727690-b1d7pusgmb9f5jec6b0fcf7o9lo7bms5</string>
	<key>API_KEY</key>
	<string>AIzaSyAdi6YqO0xUhyFj0Zx1Ao6Xswrify9hrQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>34674727690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafael.AppTopCar</string>
	<key>PROJECT_ID</key>
	<string>apptopcar-b5b22</string>
	<key>STORAGE_BUCKET</key>
	<string>apptopcar-b5b22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34674727690:ios:689c430c29916a430a78f3</string>
</dict>
</plist>